<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Oh Hai</title>
		<meta charset="utf-8">
	</head>
	<body>
			<h1>Oh Hai.</h1>
			<img src="http://28.media.tumblr.com/tumblr_lm1zsz44ET1qhv77vo1_500.jpg">
	</body>
</html>